#window {
    background-color: #f3f3f300;
    border-radius: 1rem;
    font-size: 1.2rem;
}
#window #outer-box #input {
    background-color: #f3f3f3;
    color: #4b4e57;
    border: none;
    border-bottom: 1px solid rgba(25, 28, 37, 0.2);
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    border-radius: 1rem 1rem 0 0;
}
#window #outer-box #input:focus, #window #outer-box #input:focus-visible, #window #outer-box #input:active {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(25, 28, 37, 0.2);
}
#window #outer-box #scroll #inner-box #entry {
    color: #4b4e57;
    background-color: #f3f3f3;
    padding: 0.6rem 1rem;
}
#window #outer-box #scroll #inner-box #entry #img {
    width: 1rem;
    margin-right: 0.5rem;
}
#window #outer-box #scroll #inner-box #entry:selected {
    color: #4b4e57;
    background-color: #eaeaea;
    border: none;
    outline: none;
}
#window #outer-box #scroll #inner-box #entry:selected * {
    color: #4b4e57;
}
